


	<div class="container-fluid">
       <p class="h1 text-center text-dark" id="pageHeaderTitle">Recipes matching your query</p>
        <div class="row">
         <div class="col-sm-12 col-md-6">
            <article class="postcard light blue">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title blue"><a href="#">Recipe Title 1</a></h1>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">Lorem ipsum dolor ....</div>
                    <ul class="postcard__tagbox">
                            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                        <li class="tag__item"><i class="fas fa-star mr-2"></i>4.4 / 5</li>

                <li class="tag__item"><i class="fas fa-cookie-bite mr-2"></i>easy</li>
                        <li class="tag__item"><i class="fas fa-star mr-2"></i>save</li>
                    </ul>
                </div>
            </article>
        </div>

       <div class="col-sm-12 col-md-6">
            <article class="postcard light blue">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title blue"><a href="#">Recipe Title 1</a></h1>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">Lorem ipsum dolor ....</div>
                    <ul class="postcard__tagbox">
                            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                        <li class="tag__item"><i class="fas fa-star mr-2"></i>4.4 / 5</li>

                <li class="tag__item"><i class="fas fa-cookie-bite mr-2"></i>easy</li>
                        <li class="tag__item"><i class="fas fa-star mr-2"></i>save</li>
                    </ul>
                </div>
            </article>
        </div>


        
</div><div class="row">
         <div class="col-sm-12 col-md-6">
            <article class="postcard light blue">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title blue"><a href="#">Recipe Title 1</a></h1>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">Lorem ipsum dolor ....</div>
                    <ul class="postcard__tagbox">
                            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                        <li class="tag__item"><i class="fas fa-star mr-2"></i>4.4 / 5</li>

                <li class="tag__item"><i class="fas fa-cookie-bite mr-2"></i>easy</li>
                        <li class="tag__item"><i class="fas fa-star mr-2"></i>save</li>
                    </ul>
                </div>
            </article>
        </div>

       <div class="col-sm-12 col-md-6">
            <article class="postcard light blue">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title blue"><a href="#">Recipe Title 1</a></h1>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">Lorem ipsum dolor ....</div>
                    <ul class="postcard__tagbox">
                            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                        <li class="tag__item"><i class="fas fa-star mr-2"></i>4.4 / 5</li>

                <li class="tag__item"><i class="fas fa-cookie-bite mr-2"></i>easy</li>
                        <li class="tag__item"><i class="fas fa-star mr-2"></i>save</li>
                    </ul>
                </div>
            </article>
        </div>


        
</div></div>