

<div class="footer footer-basic" style="height-100px">
    <div class="social">    
    </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
        </ul>
            <p class="copyright">Fridgify © 2021</p>
</div>
    