    <div class="home-video-wrapper">
      <%= cl_video_tag("fridge.mp4", autoplay: :true, loop: :true, mute: :mute, class: "home_video") %>
      <div class="info-welcome ">
        <h1 class="display-1" style="color: white;margin-top: 50px;margin-left: 40px;">Hungry?</h1>
        <p class="question" style="color: white;margin-top: 50px;margin-left: 40px;">...tell me what’s in your fridge, and I’ll tell you what to cook!</p>
    
        <div class="d-flex p-2">
        <i class="fas fa-search"></i>
          <div class="searchbar d-flex">
            <input style="margin-left: 40px; width: 100% " id="search-focus" type="search" class="form-control"/>
              <button type="button" class="btn btn-secondary">
              <i class="fas fa-search"></i>
          </button>
          </div>
        </div>
        </div>
    </div>

    <div class="container d-flex justify-content-end mt-5" style="height: 400px">
      <div class="inf-cards row">
        
        <div class="inf-card col-sm ">
          <%= cl_image_tag("voice-message_eptp68.png", :width=>70, :crop=>"scale") %>
          <h2 class="">Voice&type input</h2>
          <p class="">Type or tell us what you have.</p>
        </div>

        <div div class="inf-card col-sm justify-content-centerS">
          <%= cl_image_tag("diet_bgjlq1.png", :width=>70, :crop=>"scale") %>
          <h2>Find THE recipe</h2>
          <p class="">Exactly with what you have.</p>
        </div>

        <div class="inf-card col-sm">
          <%= cl_image_tag("recipe_a4xzyb.png", :width=>70, :crop=>"scale") %>
          <h2 class="">Create your own</h2>
          <p>Add more recipes to our comunity.</p>
        </div>

      </div>
    </div>
    
    <div class="d-flex comments-container">
    <div class="col-sm-4 mt-3">
      <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
        <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
        <p class="mb-0 mt-2 font-italic">"As a exchange student and not having much on my fridge... I can tell FRIDGIFY what I have and it gives me
        lots of recipes, just awesome! <a href="#" class="text-info">@FRIDGIFY</a>."</p>
        <footer class="blockquote-footer pt-4 mt-4 border-top">USER_NAME
        </footer>
        <img src="https://i.redd.it/fj1yfji0dpo61.jpg" class="card-trip-user avatar-bordered" />
      </blockquote>
    </div>

    <div class="col-sm-4 mt-3">
      <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
        <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
        <p class="mb-0 mt-2 font-italic">COMMENT_2 <a href="#" class="text-info">@FRIDGIFY</a>."</p>
        <footer class="blockquote-footer pt-4 mt-4 border-top">USER_NAME
        </footer>
        <img src="https://i.redd.it/fj1yfji0dpo61.jpg" class="card-trip-user avatar-bordered" />
      </blockquote>
    </div>

    <div class="col-sm-4 mt-3">
      <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
        <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
        <p class="mb-0 mt-2 font-italic">COMMENT_3 <a href="#" class="text-info">@FRIDGIFY</a>."</p>
        <footer class="blockquote-footer pt-4 mt-4 border-top">USER_NAME
        </footer>
        <img src="https://i.redd.it/fj1yfji0dpo61.jpg" class="card-trip-user avatar-bordered" />
      </blockquote>
    </div>
</div>
    