        // Specific CSS for your home-page
        .home_video {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            z-index: -2;
        }
        
        .home-video-wrapper {
            width: 100%;
            height: auto;
            display: flex;
        }
        
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 300px;
        }
        
        .inf-cards {
            flex-direction: row;
            justify-content: space-between;
        }
        
        .inf-card {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .form-control {
            border-radius: 5px;
            width: 75%;
        }
        
        .input {
            border-radius: 20px;
        }
        
        .form-control {
            border-radius: 25px;
            box-shadow: 4px grey;
            width: auto;
        }