.navbar-lewagon {
    justify-content: space-between;
    background-color: none;
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 40px;
}

.navbar-text {
    color: #BDA06A;
    font-family: 'Montserrat', sans-serif;
}

.bg-info {
    background-color: #BDA06A!important;
}

.text-info {
    color: #BDA06A !important;
}

.btn btn-info {
    border-color: #BDA06A;
}